body{
  background-color: lightblue;
}

p{
  color: white;
  font-size: 20px;
}

h1{
  text-align: center;
}

#score{
  text-align: center;
}

.clear{
  clear: both;
}

#size-block{
  margin-left: -50px;
  padding-left: 50%;
}

#size-title{
  float: left;
  margin-top: 0px;
}

#size{
  width: 50px;
  margin-left: 10px;
  border-radius: 3px;
}

#canvas{
  background-color: black;
}

#canvas-block{
  margin-left: -250px;
  padding-left: 50%;
}